.Parent {
    background-color: #add8e6;
    padding: 25px;
    font-size: 40px;
    position: relative;
}

.box {
    padding: 25px;
    font-size: 35px;
}

.child-one {
    background-color: #f08080;
    position: absolute;
    top: 0;
}

.child-two {
    background-color: #ffb6c1;
}

.child-three {
    background-color: #20b2aa;

}