* {
    margin: 0;
}
h1 {
    color: #008080;
}

#paragraph01 {
    font-size: 40px;
}

.primary-link {
    color: #0b7474;
}

.primary-link:hover {
    color: blueviolet;
}

.padding-demo {
    /*.padding-demo: 30px; */
    background-color: #ffc0cb;
    border: 2px solid #000000;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.margin-demo {
    border: 2px solid #0000ff;
}

.relative-position {
    background-color: gold;
    position: relative;
}
